
body {
  font-family: Arial, sans-serif;
  background-image: url("images/image12.jpg");
  background-repeat: no-repeat;
  background-size:100%;
  padding: 20px;
}

h1 {
  color: #c71616;
}

form {
  max-width: 500px;
  margin: 0 auto;
  background-color: #c49393;
  padding: 25px;
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #295f34;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #5e0e0e;
  border-radius: 6px;
}

input[type="submit"] {
  background-color: #f1b095;
  color: #716e6e;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #39ea42;
}
